<div class="contact-card_wrapper">
  <div class="contact-card_user">
    <i class="fas fa-user contact-card_user-icon"></i>
  </div>
  <div class="contact-card_profile">
    <div class="contact-card_profile-info">
      <div class="contact-card_id">ID: 53984580</div>
      <div class="contact-card_name">Neeshaan</div>
      <div class="contact-card_name">El Pasha</div>
    </div>
    <div class="contact-card_profile-controls">
      <div>
        <a class="contact-card_delete-btn"
          ><i class="far fa-trash-alt"></i>Delete Contact</a
        >
      </div>
      <div>
        <a class="contact-card_details-btn"
          ><i class="far fa-arrow-alt-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
