.header-wrapper {
  display: flex;
  height: 70px;
  align-items: center;
}

.header-logo {
  background: url('../../../../assets/images/black.png');
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-title {
  margin-left: 10px;
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
