.button-wrapper {
  width: fit-content;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-background_primary {
  background: #186c8b;
}

.btn-background_secondary {
  background: #838383;
}

.btn-background_primary:hover,
.btn-background_primary:focus {
  background: rgba(24, 108, 139, 0.5);
}

.btn-background_secondary:hover,
.btn-background_secondary:focus {
  background: rgba(94, 94, 94, 0.5);
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}
